@import '_variables.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-1;
}


html{
    scroll-behavior: smooth;
    body{
        background-color:transparent;
        background-image: url("../multimedia/img/fondo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        font-size:$font-size;
        
        h1{ 
            text-align: center;
            font-size: 4.8rem;
            letter-spacing: 0.1rem;
            font-family:$fuente-2;
            color:$clr-gris-oscuro;
            text-shadow:$clr-primario-hover 1px 1px 1px, $clr-secundario 2px 2px 3px;
        }
        h2{
            text-align: center;
            font-size: 1.4rem;
            color: $clr-gris-medio;
        }
    
    }
}
