@import '_variables.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-1;
}

html{
    scroll-behavior: smooth;
    body{
        // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='460' preserveAspectRatio='none' viewBox='0 0 1440 460'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1704%26quot%3b)' fill='none'%3e%3crect width='1440' height='460' x='0' y='0' fill='url(%23SvgjsLinearGradient1705)'%3e%3c/rect%3e%3cpath d='M1440 0L1401.04 0L1440 220.62z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1401.04 0L1440 220.62L1440 341.7L835.5999999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M835.5999999999999 0L1440 341.7L1440 384.83L434.9799999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M434.9799999999999 0L1440 384.83L1440 431.22999999999996L426.2299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 460L386.59 460L0 330.26z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 330.26L386.59 460L814.52 460L0 316.58z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 316.58L814.52 460L1147.32 460L0 164.77999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 164.77999999999997L1147.32 460L1326.29 460L0 91.10999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1704'%3e%3crect width='1440' height='460' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1705'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.35'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 233%2c 107%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background: rgb(255,230,86);
background: linear-gradient(0deg, rgba(255,230,86,0.5) 0%, rgba(255,255,255,1) 35%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-size:$font-size;
        
        h1, #titulo{ 
            text-align: center;
            font-size: 4.8rem;
            letter-spacing: 0.1rem;
            font-family:$fuente-2;
            color:$clr-gris-oscuro;
            text-shadow:$clr-primario-hover 2px 2px 1px, $clr-secundario 2.5px 2.5px 1px;
        }
        h2{
            text-align: center;
            font-size: 1.4rem;
            color: $clr-gris-medio;
        }
    
    }
}
