// UI kit basico con colores y radios y fuentes
$clr-primario:#ffe656;
$clr-secundario:#ff156f;
$clr-primario-hover:#ffd900;
$clr-gris-claro:rgb(240, 240, 240);
$clr-gris:rgb(214, 214, 214);
$clr-gris-medio:rgb(122, 122, 122);
$clr-gris-oscuro:rgb(65, 65, 65);
$radio-suave: 0.2rem;
$radio-medio: 1rem;
$radio-fuerte: 2rem;
$fuente-1: 'Quicksand', sans-serif;
$fuente-2: 'Yellowtail', cursive;
$font-size:16px;