@media screen and (min-width:1251px) and (max-width:1500px){
    @import '../bases/variables';

    // ---MODIFICACIONES AL NAVBAR, ACORDE A MQ-----
    body{
        header{
            height: 80rem;
            nav{
                position: sticky;
                top:0rem;
                z-index: 10000;
                ul{
                    li{
                        margin: 0rem 0.25rem 0rem 2rem;
                        font-size: 1rem;
                        a{
                            img{
                                margin-left: 0rem;
                                width: 4.2rem;
                            }
                            
                        }
                        a{
                            button{font-size: 1rem;}
                        }
                        a.link{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        // -----INICIO MAIN-----
        main.inicio{
            margin-top: -74.5rem;
            svg{margin-top: -102rem;}
            section#home{
                h1#titulo{
                        text-align: center;
                        font-size: 5.2rem;
                        line-height: 5rem;
                        padding: 1rem; 
                }
                div#comentario{
                    margin: 28rem auto 0rem auto;
                    width: 90%;
                    padding: 0.8rem;
                    border-radius: $radio-fuerte;
                    background-color: #ffffff5b;
                    box-shadow: rgba(71, 71, 71, 0.993) 3px 3px 15px;
                    color: $clr-gris-oscuro;
                    i.home__martillo{
                        filter: drop-shadow(3px 3px 1px #fff);
                        margin-top: 0rem;
                        margin-left: -1.5rem;
                    }
                    h2{
                        margin: 0rem 0rem 3rem 0rem;
                        strong{
                            font-size: 4rem;
                            text-shadow: #000 3px 3px 4px;
                        } 
                    }
                    h3{
                        padding: 0;
                        margin-top: 6rem;
                        &:last-child{
                            margin-top: 2rem;
                            font-size: 1.1rem;
                        }
                    }
                }
                div.home__card2{
                    width: 55%;
                    margin: 4rem auto;
                    i{
                        left: 2.5rem;
                        font-size: 3.5rem;
                    }
                    div.home__parrafos{
                        h3{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
            section.pasos{
                div.pasos__contenedor{
                    h2{
                        margin-top: 2rem;
                        font-size: 6rem;
                    }
                    div.pasos__card{
                        &:nth-child(5){margin: 0.8rem 0rem 1rem 0rem;}
                        img#primerimg{
                            width: 35vw;
                            margin-top: 0rem;
                            margin-bottom: -3rem;
                        }
                        img{
                            width: 40vw; 
                            margin-top: 0rem;
                            margin-bottom: -2.8rem;
                        }
                        div{
                            width: 60vw;
                            h3{
                                font-size: 3rem;
                                letter-spacing: 0.2rem;
                                padding: 1.25rem 2rem;
                            }
                            p{
                                padding: 0.25rem 2rem ;
                                font-size: 1.4rem;
                                line-height:1.6rem;
                            }
                        }
                    }
                    a{
                        // margin: 4rem auto;
                        button.pasos__btn{
                            width: 40vw;
                            font-size: 1.4rem;
                            padding: 0.6rem 1.5rem;
                        }
                    }
                }
            }
        }

    // --------------------------------
    // --- PAGINA SOBRE NOSOTROS-------
    // --------------------------------  
        main.sobre__nos{
            margin-top: -73rem;
            h1{
                padding: 2rem;
                text-align: center; 
                font-size: 5.2rem;
                line-height: 3rem;
                background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.699) 80%); 
            }
            h2{
                strong{font-size: 1.2rem;}
            }
            section.contenedor__nos{
                div.contenedor__anidado{
                    article.nos__tarjeta{
                        h2{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }    

        // ---------------------
        // ---CÓMO FUNCIONA?----
        // ---------------------
        main.como__funciona{
            margin-top: -75rem;
            div.contenedor--p2{
                div.primer__flex{
                    h1{font-size: 5.2rem;}
                    h2{
                        strong{font-size: 1.2rem;}
                    }
                }
            }
        }



        // ---------------------
        // ---TRUCOS PARA RENOVAR----
        // ---------------------
        main.contenedor__p3{
            margin-top: -75rem;
            div.titulo--p3{
                h1{font-size: 5.2rem;}
            }
            
        }


        // ---------------------
        // ---EMPEZA AHORA!----
        // ---------------------
        main.empeza{
            margin-top: -74.5rem;
            div.contenedor{
                    h1{
                        margin: 0 0 1rem -0.8rem;  
                        font-size: 5.2rem;
                        padding: 0.8rem;
                    }
                    h2{
                        font-size: 1.5rem;
                        margin: 0rem 0rem 2rem 0rem;
                    }
        
                form#formulario{
                    img.contanos_personaje{
                        right: 0rem;
                        top: 0vh;
                        width: 20vw;
                    }
                }
            }
            .personalizado, .premium{
                hr{
                    width: 90%;
                    align-self: center;
                    border:1px solid $clr-gris-medio;
                    margin: 0rem auto;
                }
            }
        }

        
    }   
}