@media screen and (min-width:601px) and (max-width:850px){
    @import '../bases/variables';

    // ---MODIFICACIONES AL NAVBAR, ACORDE A MQ-----
    body{
        header{
            height: 80rem;
            nav{
                position: sticky;
                top:0rem;
                z-index: 10000;
                ul{
                    li{
                        margin: 0rem 0rem 0rem 1.5rem;
                        font-size: 1rem;
                        a{
                            img{
                                margin-left: 0rem;
                                width: 4rem;
                            }
                            
                        }
                        a{
                            button{
                                font-size: 1rem;
                                margin: auto 0.25rem;
                                
                            }
                        }
                        a.link{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        // -----INICIO MAIN-----
        main.inicio{
            background-size: 120%;
            background-position:center 0%;
            margin-top: -74.7rem;
            svg{   
                margin-top: -92rem;
            }
            section#home{   
                h1#titulo{ 
                        font-size: 3.8rem;
                        line-height: 3.8rem;
                        padding: 1rem; 
                }
                div#comentario{
                    margin: 19rem 0rem 0rem 0.5rem;
                    padding: 0.8rem;

                    i.home__martillo{
                        font-size: 4rem;
                        margin-top: -2rem;
                        margin-left: -1rem;
                    }
                    h2{
                        margin: -2rem 0rem 0rem 0rem;
                        strong{
                            font-size: 3rem;
                        }
                    }
                    h3{
                        font-size: 1.2rem;
                        padding: 0;
                        margin-top: 2rem;
                        &:last-child{
                            margin-top: 2rem;
                            font-size: 1.1rem;
                        }
                    }
                }
                div.home__card2{
                    width: 70%;
                    margin: 4rem auto;
                    i{
                        left: 2.5rem;
                        font-size: 3.5rem;
                    }
                    div.home__parrafos{
                        h3{
                            font-size: 2rem;
                        }
                    }
                }
            }
            section.pasos{
                div.pasos__contenedor{
                    h2{
                        margin-top: 2rem;
                        font-size: 5rem;
                    }
                    div.pasos__card{
                        img#primerimg{
                            width: 50vw;
                            margin-top: 0.5rem;
                            margin-bottom: -2.8rem;
                        }
                        img{
                            width: 55vw; 
                            margin-bottom: -2rem;}
                        div{
                            width: 75vw;
                            h3{
                                font-size: 2.5rem;
                                letter-spacing: 0.2rem;
                                padding: 1rem 2rem;
                            }
                            p{
                                padding: 0.25rem 2rem ;
                                font-size: 1.2rem;
                                line-height:1.6rem;
                                &:last-child{
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                    padding: 1rem;
                                }
                            }
                            a{  
                                button.pasos__btn{
                                    width: 50vw;
                                }
                            }
                        }
                    }
                    a{
                        button{
                            width: 50vw;
                        }
                    }
                }
            }
        }

    // --------------------------------
    // --- PAGINA SOBRE NOSOTROS-------
    // --------------------------------   
main.sobre__nos{
    margin-top: -72rem;
    h1{
        font-size: 3.8rem;
        line-height: 3.8rem;
        padding: 1rem; 
    }
    section.contenedor__nos{
        div.contenedor__anidado{
            article.nos__tarjeta{
                width: 24rem;
            }
        }
    }
    p{text-align: center;
        padding: 0.5rem;}
    section.contenedor__tecnologia{

        h2{
            text-transform: uppercase;
            color: $clr-gris-oscuro;
        }
        p{
            font-weight: 500;
            text-align: center;
        }
        div.tecnologia{
            margin: 2rem 1rem;
            }
        
        p:nth-child(6){
            color: $clr-secundario;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            width: 95%;
            text-align: center;
        }
    }
}

    // --------------------------------
    // ------PAGINA CÓMO FUNCIONA?-----
    // --------------------------------   
    main.como__funciona{
        margin-top: -73rem;
        div.contenedor--p2{
            div.primer__flex{
                h1{
                    font-size: 3.8rem;
                    line-height: 3.8rem;
                    text-align: center;
                    padding: 1rem; 
                }
                h2{
                    strong{font-size: 1.2rem;
                        color: $clr-gris-oscuro;}
                }
            }
        }
        section.recibir{
            article.galeria__tec, article.galeria__renders{

                div.grid__tec, div.grid__renders {
                    display: grid;
                    grid-template-columns: repeat (auto-fit, minmax(300px,1fr));
                    width: 90%;
                    margin:0.5rem auto 4rem auto;
                    grid-gap: 1.5rem;
                    align-items: center;
                    padding: 1.5rem 0rem;
                    background-color: rgba(0, 0, 0, 0.301);
                    padding: 0.35rem;
                    border-radius: $radio-medio;
                    a{
                        &:hover{
                            transform: scale(1);
                        }
                    }
                    img{
                        width: 100%;
                        max-width: 380px;
                    }
                }
                div.light-box{
                    &:target{
                        transform: scale(1);
                    }
                    .light__proxima{
                        display: none;
                    }
                }
            }
        }
    }



    // --------------------------------
    // -----TRUCOS PARA RENOVAR---------
    // --------------------------------
    main.contenedor__p3{
        margin-top: -72rem;
        div.titulo--p3{
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 3.8rem;
                letter-spacing: 0.15rem;
                line-height: 3.8rem;
            } 
            }
            
            section.contenedor__grid{
                grid-template-columns: repeat (auto-fit, 35rem);
                article.grid__card{
                    padding-bottom: 1rem;
                    h2{
                        line-height: 1.5; 
                    }
                    iframe{
                        height: 360px;
                        width: 100%;
                    }

                    div{
                        height: 360px;
                        width: 100%;
                    }
                }
            }
    }
        
    // --------------------------------
    // ---PAGINA EMPEZÁ AHORA---
    // -------------------------------- 
    main.empeza{
        margin-top: -72rem;
        div.contenedor{
            h1{
                font-size: 3.8rem;
                line-height: 3.8rem;
                text-align: center;
                padding: 1rem; 
            }
            h2{
                width: 80vw;
                margin: 0rem auto 1rem auto;
                strong{font-size: 1.2rem;}
            }
            form#formulario{
                p{
                    &:last-child{
                        width: 75vw;
                        margin: 0rem auto 0.25rem auto;
                    }
                }
                img.contanos_personaje{
                    top: 10vh;
                    width: 30vw;
                }
                section.base-card{
                    h2{font-size: 1.4rem;}
                    input{margin-top: 1rem;}
                    fieldset{
                        margin-top: 1rem; 
                        justify-content: space-evenly;
                        align-items: center;   
                        legend{font-weight: 600;}
                        div{
                            margin:1rem;
                            input{
                                width: 65px;
                                margin: 0rem;
                            }
                        }
                        button{
                            margin-top: 1rem;
                        }
                    }
                    ul{
                        li{
                            width: 22rem;
                            height: 22rem;
                        }
                    }
                }
                section.arqui{
                    div.personas{
                        div{
                            width: 50vw;
                            padding-bottom: 0.25rem;
                            overflow: auto;
                            p{
                                font-weight: 500;
                                width: 48vw;
                            }
                        }
                        h3{
                            font-size: 1.4rem;
                            margin-top: -0.5rem;
                        }
                    }
                }
                section.plan{
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: transparent;
                    
                    article.personalizado, article.premium{
                        width: 85vw;
                        margin-top: 2rem;
                        h2{
                            strong{font-size: 1.5rem;}
                        } 
                        .precio{font-size: 3rem;}                
                        ul{
                            font-weight: 600;
                            margin:  2rem 2.5rem 2rem 2.5rem;
                            line-height: 1.5rem;
                            text-align: center;
                        }
                    }
                }
                section.formas-de-pago{
                    h2, p{width: 80vw;}
                    h2{font-size: 1.4rem;}
                    div.pagos{
                        width: 80vw;
                        flex-wrap: wrap;
                        div{
                            width: 8rem;
                        }
                    }
                }
                section.contactar{
                    width: 45vw;
                    margin: 1rem 0rem;
                    h2{
                        width: 80%;
                        font-size: 1.5rem;
                        margin: 1.5rem auto;
                    }
                }
                button[type="submit"], button[type="reset"]{width: 35vw;}
            }
        }
    }

    footer{
        div.contenedor__footer{
            flex-direction: column;
            align-items: center;
            div{
                width: 480px;
                text-align: center;
            }
            
            div.logo{
                div.logo__img{
                    a{
                        img{width: 6rem;}
                    }
                }
            }
            div.sociales{
                h3{
                    font-size: 1.3rem;
                    margin-top: 1rem;
                    text-align: center;
                }
                p{
                    text-align: center;
                }    
            }
            div.contacto{
                h3{
                    font-size: 1.3rem;
                    text-align: center;
                }
                div{
                    p{text-align: center;}
                }
            }
            div.comentarios{
                h3{
                    font-size: 1.3rem;
                    text-align: center;
                }
            }
        }
        div.right{
            hr{
                width: 90vw;
                margin: 10px auto;
            }
            p{
                padding: 0rem 1rem;
                text-align: center;
            }
        }
    }
    }   
    }  



