@media screen and (min-width:851px) and (max-width:1250px){
    @import '../bases/variables';

    // ---MODIFICACIONES AL NAVBAR, ACORDE A MQ-----
    body{
        // position:relative;
        header{
            nav{
                ul{
                    li{
                        margin: 0rem 0.25rem 0rem 2rem;
                        font-size: 1rem;
                        a{
                            p{
                                img{
                                    // margin-left: -1rem;
                                    width: 3.6rem;
                                }
                            }                          
                        }
                        a{
                            button{font-size: 1rem;}
                        }
                        a.link{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        // -----INICIO MAIN-----
        main.inicio{
            section#home{
                h1#titulo{
                        padding: 2rem;
                        letter-spacing: 0.2rem;
                        text-align: center; 
                        font-size: 4.8rem;
                        line-height: 3rem;
                        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.699) 80%); 
                }
                div#comentario{
                    margin: 22rem auto 0rem auto;
                    width: 96%;
                    padding: 0.8rem;
                    border-radius: $radio-fuerte;
                    background-color: #ffd90011;
                    box-shadow: rgba(48, 48, 48, 0.993) 3px 3px 15px;
                    border:6px solid $clr-secundario;
                    color: $clr-gris-oscuro;
                    i.home__martillo{
                        color: $clr-gris-oscuro;
                        filter: drop-shadow(2px 2px 1px #fff);
                        font-size: 5rem;
                        margin-top: 0rem;
                        margin-left: -1rem;
                    }
                    h2{
                        font-size: 4rem;
                        font-family: $fuente-1;
                        font-weight: bold;
                        color: white;
                        text-align: center;
                        margin: -2rem 0rem 3rem 0rem;
                        text-shadow: #000 3px 3px 4px;
                        
                    }
                    h3{
                        font-size: 1.4rem;
                        padding: 0;
                        margin-top: 6rem;
                        &:last-child{
                            margin-top: 2rem;
                            font-size: 1.1rem;
                        }
                    }
                }
                div.home__card2{
                    width: 55%;
                    margin: 4rem auto;
                    background-color: transparent;
                    padding: 1rem;
                    border: 4px solid $clr-primario-hover;
                    i{
                        left: 2.5rem;
                        font-size: 3.5rem;
                        color: $clr-secundario;
                    }
                    div.home__parrafos{
                        h3{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
            section.pasos{
                div.pasos__contenedor{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2{
                        margin-top: 2rem;
                        font-size: 5rem;
                        color: $clr-primario-hover;
                        line-height: 4rem;
                        letter-spacing: 0.25rem;
                    }
                    div.pasos__card{
                        width: 90vw;
                        display: flex; 
                        flex-direction: column;
                        margin: 0.5rem 0rem 2rem 0rem; 
                        img#primerimg{
                            width: 50vw;
                            margin-top: 0.5rem;
                            margin-bottom: -2rem;
                        }
                        img{
                            width: 50vw; 
                            margin-top: 1.5rem;
                        }
                        div{
                            h3{
                                font-size: 2.5rem;
                                letter-spacing: 0.2rem;
                                padding: 1.25rem 2rem;
                            }
                            p{
                                padding: 0.25rem 2rem ;
                                font-size: 1.2rem;
                                line-height:1.6rem;
                                &:last-child{
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                    padding: 1.4rem;
                                    a{  
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    a{
                        button.pasos__btn{
                            width: 40vw;
                            font-size: 1.4rem;
                            padding: 0.8rem 1.5rem;
                            margin: 4rem auto;
                        }
                    }
                }
            }
        }

            // --------------------------------
    // --- PAGINA SOBRE NOSOTROS-------
    // --------------------------------   
main.sobre__nos{
    h1{
        padding: 2rem;
        letter-spacing: 0.2rem;
        text-align: center; 
        font-size: 4.8rem;
        line-height: 3rem;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.699) 80%); 
    }
    h2{
        font-size: 1.2rem;
    }
    div.contenedor__nos{
        div.contenedor__anidado{
            div.nos__tarjeta{
                width: 24rem;
            }
        }
    }
    p{text-align: center;
        padding: 0.5rem;}
    div.contenedor__tecnologia{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-transform: uppercase;
            color: $clr-gris-oscuro;
        }
        p{
            font-weight: 500;
            text-align: center;
        }
        div.tecnologia{
            margin: 2rem 1rem;
            }
        
        p:nth-child(6){
            color: $clr-secundario;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            width: 95%;
            text-align: center;
        }

    }
}



        
}   
}