@import '../bases/variables';

// BREAKPOINT DE 310PX A 420PX

// ---NAVBAR COMPACTO-----
header{
    nav{
        input.nav__checkbox{
            display:none;
            &:checked ~ ul.nav__listamenu li{display: block; }
            &:checked label.nav__onoff .fas{display: none;}
            &:checked label.nav__onoff .far{ display: block;}  
        }
        label.nav__onoff{
            display: block;
            position: absolute;
            cursor: pointer;
            margin: 1.8rem 1rem;
            right: 0;
            font-size:1.5rem;
            color: var(--clr-secundario);
            z-index: 10;
            i.fas{
                display: block;
            }
            i.far{
                display: none;
            }
        }
        ul.nav__listamenu{
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            &:first-child{
                margin:auto; 
                display: block;
            }
            li{
                &:nth-child(2){
                    display: none;    
                }
                &:nth-child(3){
                    display: none;
                }
                &:nth-child(4){
                    display: none;
                }
                &:nth-child(5){
                    display: none;
                }   
            }
        }
    }
    
}
