
header {
    nav{
        background-color:rgb(255, 255, 255); 
        .nav__checkbox{display: none;}
        .nav__onoff{display: none;}
        
        ul{
            position: relative;
            width: 100vw;
            box-shadow: 0px -5px 15px $clr-gris-medio;
            padding: 0.8rem 0;
            border-radius: $radio-suave;
            display: flex;
            justify-content: flex-end;
            align-items: center;
                li{
                    list-style-type:none;
                    margin: 0 1.5rem;
                        &:first-child{
                            margin-right: auto;
                        }
                            a{
                                position: relative;
                                text-decoration: none;
                                color:$clr-gris-oscuro;
                                font-weight: bold;
                                transition: all 150ms ease-in;   
                                    &.link::after{
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        height: 0.2rem;
                                        width: 0%;
                                        background-color: $clr-primario-hover;
                                        bottom: -0.5rem;
                                        border-radius: 5px;
                                        transition: all 250ms ease-in-out ;
                                    }
                                    &.link:hover::after{
                                        width: 100%;
                                    }      
                            }
                            a{
                                img{
                                    width: 4.5rem;
                                    margin-left: -1rem;
                                    transition: transform 300ms ease-in-out 0ms ;
                                    &:hover{
                                        cursor: pointer;
                                        transform: rotate(10deg) scale(1.2);
                                        }
                                }
                            }
                            a.link{
                                font-size: 1.1rem;
                            }
                            a{
                                button{
                                    font-weight: bold;
                                    padding: 0.5rem 2rem;
                                    border: none; 
                                    outline: none;
                                    background-color: $clr-primario;
                                    border-radius: $radio-fuerte;
                                    font-size: 1.1rem; 
                                    cursor: pointer;
                                    transition: all 300ms ease-in-out;
                                        &:hover{
                                            background-color: $clr-primario-hover;
                                            transform: scale(1.05);
                                        }
                                }
                            }
                }
        }
    }
}
