@import '../bases/_variables';

main{
    //-----BOTON IR ARRIBA----
    div.scroll__btn{
        position: fixed;
        width: 2.6rem;
        height: 3.4rem;
        border-radius: 40%;
        bottom: 2rem;
        right: 2rem;
        outline: 1px solid $clr-secundario;
        z-index: 100;
        cursor: pointer;
    }
    div{
        a{
            text-decoration: none;
            i{
                display: block;
                font-size: 2rem;
                color: $clr-secundario;
                margin-left: 0.65rem;
                margin-top: 0.5rem;
                &:hover{animation: movimiento_scroll 1s ease-in 0s infinite;  }    
            }
        }
        @keyframes movimiento_scroll{
        0%{
            transform: translateY(0px);
        }
        25%{
            transform: translateY(4px);
        }
        50%{
            transform: translateY(0px)  
        }
        75%{
            transform: translateY(4px); 
        }
        100%{
            transform: translateY(0px);
        }  
        }
    }    
    //-----FIN BOTON IR ARRIBA----
    


    // --------------------------------
    // -----PAGINA HOME/INICIO---------
    // --------------------------------

    
    // -----SECCION INICIO/HOME-------
    section#home {
        background-image: url(../multimedia/img/living-room-g8c65edcdb_1920.jpg);
        background-size:contain;
        background-repeat:no-repeat ;
        h1#titulo{
            margin: 0 0 0 -0.8rem;  
            font-size: 4.8rem;
            padding: 0.8rem;
            letter-spacing: 0.2rem;
            background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.699) 80%);
        }
        div#comentario{
            margin: 25rem 0rem 0rem 0.75rem;
            width: 98%;
            padding: 2rem;
            border-radius:$radio-fuerte;
            background-color: #ffd90013;
            box-shadow: rgba(143, 143, 143, 0.911) 3px 3px 15px;
            border:6px solid $clr-secundario;

            i.home__martillo{
                font-size: 6rem;
                color: $clr-gris-oscuro;
                margin-top: -3rem;
                margin-left: -1rem;
                animation: martillar 2s ease-in-out 1s infinite normal none;
            }
            @keyframes martillar{
                0%{
                    
                    transform: rotate(0deg);
                    transform-origin: 0rem 3rem;
                }
                50%{
                    transform: rotate(5deg);
                    transform-origin: 0rem 3rem;
                }
                100%{
                    transform: rotate(0deg);
                    transform-origin: 0rem 3rem;
                }
                }
            h2{
                font-size: 3rem;
                text-shadow: $clr-gris-oscuro 3px 3px 3px;
                font-family: $fuente-1;
                font-weight: bold;
                color: #fff;
                text-align: center;
                margin: 2rem 0rem 3rem 0rem;
            }
            h3{
                color: $clr-gris-oscuro;
                padding:1rem 5rem ;
                font-size: 1.4rem;
                text-align: center;
            }
        }
        
        div.home__card2{
            position: relative;
                margin: 6rem auto 0rem auto;
                background-color: transparent;
                padding: 1rem;
                border-radius: $radio-fuerte;
                width: 65%;
                background-color: transparent;
                border: 6px solid $clr-primario-hover;

            i{
                position: absolute;
                margin-left: -4rem;
                margin-top: -2rem;
                font-size: 5rem;
                color: $clr-secundario;
                text-shadow: $clr-gris-oscuro 2px 2px 15px;
                z-index: 10;
                transform: rotate(-15deg);
                
            }
            h3{
                padding: 0.5rem;
                font-family: $fuente-1;
                font-size: 2.5rem;
                color: $clr-gris-oscuro;
                text-align: center;
            }
        }
        // -----FIN SECCION INICIO/HOME-------   
    }



        // -----SECCION PASOS A SEGUIR----
    
    section{
        div.pasos__contenedor{
            margin: 0rem auto;
            flex-direction: row;
            flex-wrap: wrap;
           
            h2{
                margin-top: 4rem;
                font-size: 6rem;
                color: $clr-primario-hover;
                line-height: 4rem;
                letter-spacing: 0.25rem;
                margin-bottom: -2rem;
                text-align: center;
                display: block;
                font-family:$fuente-2;
                text-shadow:$clr-gris-medio 3px 3px 5px;
                text-transform: capitalize;
            }
            div.pasos__card{
                width: 90vw;
                display: flex; 
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 0.3rem;
                margin: 0.8rem 0rem 4rem 0rem; 

                img#primerimg{
                    width: 45vw;
                    margin: 0.5rem;
                    margin-bottom: -1.8rem; 
                    filter: drop-shadow(5px 5px 5px $clr-gris-medio); 
                }
                img{
                    width: 45vw;
                    margin-bottom: -0.8rem;
                    filter: drop-shadow(5px 5px 5px $clr-gris-medio); 
                }
                div{
                    background: #FFD900;
                    background: -webkit-radial-gradient(top left, #ffd900, #ff166f);
                    padding: 1.5rem 0rem;
                    border-radius: 2rem;
                    text-align: center;
                    margin: -1.5rem 0rem 0rem 0.5rem;
                    z-index: -1;
                    h3{
                        color:$clr-primario;
                        text-shadow:$clr-gris-oscuro 1px 1px 5px;
                        font-size: 2.4rem;
                        letter-spacing: 0.2rem;
                        padding: 1.5rem 2rem;
                    }
                    p{
                        padding: 0.25rem 2rem ;
                        font-size: 1.4rem;
                        line-height:1.6rem;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        a{
            button.pasos__btn{
            display: block;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $clr-gris-medio;
            color: $clr-primario-hover;
            padding: 0.5rem 1.5rem;
            border: 1px solid $clr-primario-hover;
            border-radius:$radio-fuerte;
            margin: 4rem auto;
            transition: all 300ms ease-in-out;
                &:hover{
                    border: 1px solid $clr-gris-claro;
                    outline: 6px solid $clr-primario-hover;
                    background-color: white;
                    color: $clr-gris-medio;
                }
                }
        }    
        }
    }
}

    // --------------------------------
    // --- PAGINA SOBRE NOSOTROS-------
    // --------------------------------   
main.sobre__nos{
    h1{
        margin: 0 0 0 -0.8rem;  
        font-size: 5.4rem;
        padding: 0.8rem;
        letter-spacing: 0.2rem;
    }
    h2{
        padding: 0.5rem;
        width: 70vw;
        margin: 2rem auto;
    }
    div.contenedor__nos{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 4rem 0 4rem 0;
        background-color: rgb(255, 255, 255);
        border: 10px solid $clr-gris-medio;
        border-radius: $radio-fuerte;
        div.contenedor__anidado{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div.nos__tarjeta{
                position: relative;
                min-height: 25rem;
                width: 17.8rem;
                box-shadow:0 0px 8px 0 $clr-gris-medio;
                text-align: center;
                border-radius: $radio-medio;
                margin: 1rem;
                overflow:hidden;
                background-color: rgb(255, 255, 255);
                border-bottom: 3px solid $clr-primario-hover;
                transition: all 500ms ease-in-out;
                &:hover{
                    transform: scale(1.02) rotate(0.5deg);
                }
                div.url1{
                    background-image: url(../multimedia/img/la-cañada-light.jpg);
                }
                div.url2{
                    background-image: url(../multimedia/img/estudio-de-arquitectura2.jpg);
                }
                div.url3{
                    background-image: url(../multimedia/img/charla.jpg);
                }
                div.url4{
                    background-image: url(../multimedia/img/croquis.jpg);
                }
                div.img-fondo{
                    position: absolute;
                    height: 40%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center top;
                }
                h2{
                    font-family:$fuente-1;
                    font-size: 1.6rem;
                    letter-spacing: 0.1rem;
                    color: $clr-gris-oscuro;
                    margin:12rem 0.5rem 0.5rem 0.5rem ;
                }
                p{
                    margin: 0.5rem 0.5rem 1rem 0.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
    }
    div.contenedor__tecnologia{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-transform: uppercase;
            color: $clr-gris-oscuro;
        }
        p{
            font-weight: 500;
        }
        div.tecnologia{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 3rem 0rem;
            background-color: $clr-primario-hover;
            border-radius: $radio-fuerte;
            div{
                img{
                    filter: grayscale(1);
                    transition: all 300ms ease-in-out 0ms;
                    margin-top: 2rem;
                    margin-left: 1rem;
                    padding: 0;
                    width:80%;
                    filter: grayscale(1);
                    transition: all 300ms ease-in-out 0ms;
                    &:nth-child(even){width: 250px;}
                    &:hover{
                        transform: scale(1.05);
                        filter: grayscale(0);
                    }
                }
                img#first{
                    margin-bottom: -1rem;
                }
                p{
                    font-size: 0.8rem;
                    font-family: monospace ;
                    text-transform: uppercase;
                    color: $clr-gris-medio;
                    margin: 0 0 0.5rem 1.5rem;
                    display: block;

                }
            }
        }
    }
}

    // --------------------------------
    // ------PAGINA CÓMO FUNCIONA?-----
    // --------------------------------   
main{
    div.contenedor--p2{
        display: flex;
        flex-direction: column;
        text-align: center;
        div.primer__flex{
            width: 80%;
            margin: 1rem auto;
            display:flex;
            flex-direction: column;
            align-items: center;
           h1{
            margin: 0 0 0 -0.8rem;  
            font-size: 4.8rem;
            padding: 0.8rem;
           } 
           h2{
            margin: 2rem 0rem;
           }
        //    p{
     
        //    }
    
        }
    }
    div.contenedor__pasos--p2{
        min-height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
        div.fila--p2{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            min-width: 100vw;
            div.pasos__card--p2{
                position: relative;
                width: 500PX;
                height: 250PX;
                margin: 2rem 1rem 2rem 1rem;
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: $radio-fuerte;
                border-bottom: 2px solid $clr-primario-hover;
                h3#num-grande{
                    position: absolute;
                    top: -5rem;
                    left: -1.5rem;
                    font-size: 8rem;
                    color: $clr-gris-medio;
                    text-shadow: $clr-primario-hover 1px 1px 1px;
                }
                img{
                    width: 250px;
                    padding: 0.5rem;
                }
                div{
                    width: 250px;
                    padding: 0.5rem;
                    h3{
                        text-align: center; 
                        font-size:1.5rem;
                        color: $clr-gris-oscuro;
                    }
                    p{
                        text-align: center; 
                        margin-top: 1rem;
                        font-weight: bold; 
                        color: $clr-gris-oscuro;
                    }
                }
            }
        }   
    }
    div.contenedor__tiendas{
        
        div{
            width: 35vw;
            margin: 0.5rem auto;
            h2{
                margin-bottom: 2rem;
                font-size: 1.8rem;
            }
            p{
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 2rem;
            }
            p#obs{
                font-size: .9rem;
                margin-top: 8rem;
                font-weight: 400;
                text-transform: uppercase;
            }
            strong{
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                color: $clr-secundario;
            }
        }
        div.imagenes{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 80vw;
            img{
                width: 6rem;
                margin: 2rem 0.8rem 2rem 0.8rem ;
            }
        }
    }
}




