@import '../bases/variables';

// BREAKPOINT MAX 420PX

// ---NAVBAR COMPACTO-----
@media screen and (max-width:420px){
body{
    header{
        height: 80rem;
        nav{
            position: sticky;
            top:0rem;
            z-index: 10000;
            input.nav__checkbox{
                display:none;
                &:checked ~ ul.nav__listamenu li{display: block; }
                &:checked ~ label.nav__onoff .fas{display: none;}
                &:checked ~ label.nav__onoff .far{ display: block;}  
            }
            label.nav__onoff{
                display: block;
                position: absolute;
                cursor: pointer;
                margin: 1.8rem 1rem;
                right: 0;
                font-size:1.5rem;
                color: $clr-secundario;
                z-index: 10;
                i.fas{
                    display: block;
                }
                i.far{
                    display: none;
                }
            }
            ul.nav__listamenu{
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                &:first-child{
                    margin:auto; 
                    display: block;
                }
                li{
                    &:nth-child(2){
                        display: none;    
                    }
                    &:nth-child(3){
                        display: none;
                    }
                    &:nth-child(4){
                        display: none;
                    }
                    &:nth-child(5){
                        display: none;
                    } 
                    a{
                        img{
                            width: 3.6rem;
                        }
                    }  
                }
            }
        }
        
    }
    
    // --------------------------------
    // -----PAGINA HOME/INICIO---------
    // --------------------------------
    main.inicio{
        background-size: 170%;
        background-position:center -0.5%;
        margin-top: -75rem;
        svg{   
            margin-top: -92rem;
        }
        section#home{
            h1#titulo{
                    font-size: 2.8rem;
                    padding: 0.5rem; 
                    text-align: center;
            }
            div#comentario{
                margin:10rem auto 4rem auto;
                width: 96%;
                padding: 0.25rem;
                border-radius: $radio-fuerte;
                background-color: #ffffff5e;
                box-shadow: rgba(160, 160, 160, 0.753) 3px 3px 15px;
                font-size: 1rem;
                color: $clr-gris-oscuro;

                i.home__martillo{
                    color: $clr-gris-claro;
                    font-size: 3rem;
                    margin-top: -2.5rem;
                    margin-left: -0.5rem;
                    text-shadow: #000 1px 1px 1px;
                }
                h2{
                    margin: 0rem 0rem 1rem 0rem;
                    strong{
                        font-size: 1.8rem;
                        font-family: $fuente-1;
                        font-weight: bold;
                        color: $clr-gris-oscuro;
                        text-align: center;
                        text-shadow: #fff 0px 0px 2px;
                    }
                }
                h3{
                    font-size: 1rem;
                    padding: 0.5rem 0rem;
                    &:last-child{
                        font-size: 0.9rem;
                        color: #000;
                        font-weight: 500;
                    }
                }

            }
            div.home__card2{
                width: 85%;
                margin: 1rem auto;
                background-color: transparent;
                padding: 1rem;
                border: 4px solid $clr-primario-hover;
                i{
                    left: 2.5rem;
                    font-size: 3rem;
                }
                div.home__parrafos{
                    h3{
                        font-size: 1.6rem;
                    }
                }
            }
        }
        section.pasos{
            div.pasos__contenedor{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    margin-top: 2rem;
                    margin-bottom: -2.4rem;
                    font-size: 3.8rem;
                    color: $clr-primario-hover;
                    line-height: 4rem;
                    letter-spacing: 0.25rem;
                    text-align: center;
                }
                div.pasos__card{
                    img#primerimg{
                        width: 65vw;
                        margin-bottom: -1.6rem;
                        margin-top: 0.4rem;
                    }
                    img{
                        width: 80vw; 
                        margin-bottom: -1.6rem;
                    }
                    div{
                        h3{
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            padding: 0rem 2rem;
                        }
                        p{
                            padding: 0.25rem 2rem ;
                            font-size: 1.2rem;
                            line-height:1.6rem;
                            &:last-child{
                                font-size: 1rem;
                                font-weight: 600;
                                padding: 1rem;
                                margin-bottom: 1rem;
                            }
                        }
                        
                    }
                }
                a{
                    button.pasos__btn{
                        width: 90vw;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }


    // --------------------------------
    // --- PAGINA SOBRE NOSOTROS-------
    // --------------------------------    
    
    main.sobre__nos{
        margin-top: -73rem;
        h1{
            font-size: 3rem;
            letter-spacing: 0.15rem;
            text-align: center;
        }
        h2{
            strong{font-size: 1.2rem;
                color: $clr-gris-oscuro;}
        }
            section.contenedor__nos{
                margin: 1.5rem 0rem;
                border: 6px solid $clr-gris-medio;
                div.contenedor__anidado{
                    article.nos__tarjeta{
                        h2{
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        p{
            text-align: center;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }
        section.contenedor__tecnologia{
            div.tecnologia{
                width: 80vw;
                flex-direction: column;

                div{
                    text-align: center;
                    margin-left: -0.8rem;
                
                    &:last-child{
                        margin-bottom: 2rem;
                        img{width: 75%;}
                    }
                }
            }
            p{
                width: 80vw;
                text-align: center;
                margin: 1rem 0rem;
                color: $clr-gris-oscuro;
                em{
                    font-weight: 600;
                }
            }
        }
    }



    // --------------------------------
    // -------CÓMO FUNCIONA?-----------
    // -------------------------------- 
    main.como__funciona{
        margin-top: -74rem;
        div.contenedor--p2{
            div.primer__flex{  
            h1{ 
                margin: 0rem auto; 
                padding: 0rem;
                font-size: 3rem;
                letter-spacing: 0.15rem;
                }
                h2{
                    strong{font-size: 1.2rem;
                        color: $clr-gris-oscuro;}
                }  
            }
        }
        section.contenedor__pasos--p2{
            min-height: 60rem;
            justify-content: space-evenly; 
            div.fila--p2{
                article.pasos__card--p2{
                    width: 240PX;
                    height: auto;
                    margin: 1.5rem 1rem 3rem 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 220px;
                        padding: 0.5rem;
                    }
                    div{
                        width: 250px;
                        padding: 0.5rem;
                        h3{
                            text-align: center; 
                            font-size:1.5rem;
                            color: $clr-gris-oscuro;
                        }
                        p{
                            text-align: center; 
                            margin: 1rem;
                            font-weight: bold; 
                            color: $clr-gris-oscuro;
                        }
                    }
                }
            }   
        }

        p{
            padding: 0rem 0.25rem;
        }
        section.recibir{
            ul{
                li{
                    font-size: 1rem;
                    padding: 0.4rem;
                    text-transform: uppercase;
                    &:last-child{margin-bottom: 1.5rem;}
                }
            }
            article.galeria__tec, article.galeria__renders{
                padding-bottom: 0.1rem ;
                div.grid__tec, div.grid__renders {
                    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
                    width: 95%;
                    padding: 1.5rem 0.25rem;
                    grid-gap: 3.5rem;
                    a{
                        img{
                            margin-top: 0.5rem;
                            max-width: 300px;
                        }
                        p{
                            padding-bottom: 0;
                        }
                    }
                }
                div.light-box{
                    &:target{
                        transform: scale(0);
                    }
                    
                }
            }
        }

    
        div.contenedor__tiendas{
            
            div{
                h2{
                    strong{
                        font-size: 1.5rem;
                    }
                }
                
                p#obs{
                    margin-top: 6rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

            }
            div.imagenes{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 80vw;
                img{
                    width: 6rem;
                    margin: 2rem 0.8rem 2rem 0.8rem ;
                }
            }
        }
    }
    
    // --------------------------------
    // ------TRUCOS PARA RENOVAR------
    // -------------------------------- 
main.contenedor__p3{
    margin-top: -72rem;
    div.titulo--p3{
        flex-direction: column;
        h1{
            font-size: 3rem;
            letter-spacing: 0.15rem;
            text-align: center;
            margin-top: -3.5rem;
        } 
        p{
        text-align: center;
            input{
                margin:1rem 0.5rem;
                }
        }
        }
        p{
            text-align: center;
            em{
                font-weight: 700;
                color: $clr-gris-oscuro;
            }
        }
        section.contenedor__grid{
            grid-template-columns: repeat(auto-fit, 21rem);
            article.grid__card{
                padding-bottom: 1rem;
                p{
                    color: $clr-gris-medio;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                }
                h2{
                    font-size: 1.1rem;
                    line-height: 1.5; 
                }
                iframe{
                    height: 250px;
                    width: 100%;
                    border-radius: $radio-medio;
                    margin-bottom: 1rem;
                }
                a{
                    display: block;
                    text-decoration: none;
                    font-weight: bold; 
                    margin: 1rem 0rem;
                }
                i{
                    font-size: 0.8rem;
                    margin-left: 0.5rem;  
                }
                div{
                    height: 250px;
                    width: 100%;
                    margin-bottom: 1rem;
                    background-color: $clr-secundario;
                    border-radius: $radio-medio;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                div.blog1{
                    background-image: url(../multimedia/img/blog-pileta.jpg); 
                }
                div.blog2{
                    background-image: url(../multimedia/img/blog-pisomadera.jpg);
                }
                div.blog3{
                    background-image: url(../multimedia/img/blog-colores.jpg);
                }
            }
        }
    
}


    // --------------------------------
    // ---PAGINA EMPEZÁ AHORA---
    // -------------------------------- 
    main.empeza{
        margin-top: -73rem;
        div.contenedor{
            h1{
                margin: 0rem auto; 
                font-size: 3rem;
                letter-spacing: 0.15rem;
            }
            h2{
                width: 80vw;
                margin: 0 auto;
                font-size: 1.1rem;
                line-height: 1.5; 
                margin-bottom: 0;
                strong{font-size: 1.2rem;}
            }
            form#formulario{
                p{
                    &:last-child{
                        width: 75vw;
                        margin: 0rem auto 0.25rem auto;
                        text-align: center;
                       
                    }
                }
                img.contanos_personaje{
                    top: 30vh;
                    width: 35vw;
                }
                div.base-card{
                    fieldset{
                        width: 80vw;
                        flex-direction: column; 
                        justify-content: space-between;
                        align-items: center;   
                        padding: 0rem;
                        legend{font-weight: 600;}
                        div{
                            margin:1rem;
                            input{
                                width: 65px;;
                                margin: 0rem;
                            }
                        }
                    }
                }
                div.elegir-color{
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: transparent;
                    border: 4px solid $clr-primario-hover;
                } 
                div.arqui{
                    div.personas{
                        flex-direction: column;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        div{
                            width: 80vw;
                            padding-bottom: 0.25rem;
                            overflow: auto;
                            p{
                                font-weight: 500;
                            }
                        }
                        h3{
                            font-size: 1.4rem;
                            color: #fff;
                            background-color: rgba(0, 0, 0, 0.253);
                        }
                    }
                }
                div.plan{
                    width: 95vw;
                    flex-direction: column;
                    div.personalizado, div.premium{
                        width: 90vw;
                        margin: 1rem 0rem;                 
                        ul{
                            font-weight: 600;
                            margin:  2rem 2.5rem 2rem 2.5rem;
                            line-height: 1.5rem;
                        }
                    }
                }
                div.formas-de-pago{
                    h2, p{width: 80vw;}
                    div.pagos{
                        width: 80vw;
                        flex-wrap: wrap;
                        div{
                            width: 6rem;
                        }
                    }
                }
                div.contactar{
                    width: 80vw;
                    margin-bottom: 1rem;
                    
                    div{
                        margin: 0.3rem 0rem 0rem 0rem;
                    }
                    input{
                        padding: 0.2rem 0rem 0.2rem 1rem;
                        border: 1px solid $clr-gris-oscuro;
                        border-radius:$radio-medio;
                        &:last-child{margin-bottom: 1rem;}
                    }
                }
                button[type="submit"], button[type="reset"]{width: 70vw;}
            }
        }
    }  
     // ----INICIO FOOTER COMPACTO-----
    footer{
        div.contenedor__footer{
            flex-direction: column;
            align-items: center;
            div{
                width: 280px;
                text-align: center;
            }
            div.sociales{
                h3{
                    margin-top: 1rem;
                    text-align: center;
                }
                p{
                    text-align: center;
                } 
            }
            div.contacto{
                h3{
                    text-align: center;
                }
                div{
                    p{text-align: center;}
                }
            }
            div.comentarios{
                h3{
                    text-align: center;
                }
            }
        }
        div.right{
            hr{
                width: 90vw;
                margin: 10px auto;
            }
            p{
                padding: 0rem 1rem;
                text-align: center;
            }
        }
    }
    }
}      




